<html>
  <head>
    <title>Créer un potin</title>
  </head>
  <body>
    <h1>Crée un nouveau potin !</h1>
    <form action="/gossips/new" method="post">
      <label for="author">Ton nom :</label>
      <input type="text" id="author" name="gossip_author"/><br/><br/>
      <label for="content">Ton potin :</label>
      <textarea id="content" id="content" name="gossip_content"></textarea><br/><br/>
      <input type="submit" value="Envoyer"/>
    </form>
  </body>
</html>
